body {
	background-color: #181a1b;
	min-width: 600px !important;
}

.button {
	padding-left: .5em;
	font-size: 18px;
	display: inline-block;
	background-color: #868686;
	border-radius: .75em;
	border: 2px solid goldenrod;
	transition-duration: 0.2s;
}

.button:hover {
	color: rgba(255, 255, 255, 0.842);
	background-color: 181a1b;
}

p, span{
	color: white;
}

.version {
	position: fixed;
	bottom: 45px;
	right: 10px;
	color: white;
}

.status { 
	position: fixed;
	bottom: 40px;
	left: 20px;
	color: white;
	padding-bottom: 5px;
	font-size: 18px;
}

.navbar {
	background-color: #666666;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	overflow-y: hidden;
	min-width: 600px !important;
}

.navbar ul {
	margin: auto;
	display: flex;
	justify-content: space-around;
	padding-left: 0;
	list-style: none;
}

.navbar li {
	margin:auto;
	float:left;
	display: block;
	text-align: center;
	text-decoration: none;
	font-size:25px;
	width: auto;
	padding: 5px;
}

@media screen and (max-width: 600px) {
	.navbar li {
		margin:auto;
		float:left;
		display: block;
		text-align: center;
		text-decoration: none;
		font-size:16px;
		width: auto;
		padding: 5px;
	}
	
	.navbar ul {
		margin: auto;
		display: inline-flex;
		justify-content: space-around;
		flex-wrap: nowrap;
		padding-left: 0;
		list-style: none;
	}
	
	.autosave {
		margin: 5px!important;
		
	}
}

.autosaveWrapper{
	height: 38px;
}

li.autosaveButton{
	height: 38px;
	overflow: none;
}

li.autosave:hover {
	background-color: #666666!important;
}

.navbar li:hover{
	background-color: aqua;
	color:black;
}

.navbar li.navDELETE:hover {
	background-color: red !important;
	color: black;
}

.text-show {
	opacity: 1;
	transition: all .5s ease;
}

.text-hide {
	opacity: 0;
	transition: all .5s ease;
}

div.magic {
	margin: 5px;
	border-color: white;
	border-width: medium;
	border-style: solid;
	padding: 1em;
	table-layout: c;
	width: 300px;

}

div.rock {
	margin: 5px;
	border-color: white;
	border-width: medium;
	border-style: solid;
	padding: 1em;
	width: 300px;
}

#pageTabs {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

#pageTabs li {
	float: left;
}

#tab1 {
	border-style: dashed;
	color: gray;
	width: 350px;
}

.tabsContainer ul {
	padding-left: 0;
	margin: auto;
    display: flex;
    list-style: none;
    flex-direction: row;
}

.tabsContainer ul li {
	padding: 10px 0px 10px 0px;
}

.tabsContainer ul li a {
	padding: 5px 15px 5px 15px;
	color: #7f7f7f;
	text-decoration: none;
}

a:link, 
a:visited,
a:focus {
	background: #181a1b;
	color: #dfdfdf !important;
}

a {
	outline-style: inset;
	outline-color: black;
}

a.active { 
	background: #acacac;
	color: black !important;
	outline-style: outset;
}

a:hover { 
	background-color: #7f7f7f;
	color: #white;
}