body{
    background-color: #181a1b;
}

.button {
    padding: .5em;
    font-size: 18px;
    display: inline-block;
    background-color: #868686;
    border-radius: .75em;
    border: 2px solid goldenrod;
    transition-duration: 0.2s;
}

.button:hover {
    color: rgba(255, 255, 255, 0.842);
    background-color: #181a1b;
}

p {
    color: white;
    
}

.Version {
    position: fixed;
    bottom: 45px;
    right: 10px;
    color: white;
}

.status {
    position: fixed;
    bottom: 40px;
    left: 20px;
    color: white;
    padding-bottom: 5px;
    font-size: 18x;
}

.navbar {
    background-color: #666666;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 40px;
}

.navbar ul {
    margin: 0;
    padding-left:  0px;
}

.navbar li {
    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    width: 33.333%;
    height: 40px;
    padding-top: 5px;
    
}

.navbar li:hover {
    background-color: aqua;
    color: black;
}

.navbar li.navDELETE:hover {
    background-color: red !important;
    color: black;
}

.text-show {
    opacity: 1;
    transition: all .5s ease;
}

.text-fade {
    opacity: 0;
    transition: all .5s ease;
}